@{
    ViewData["Title"] = "Thomas";
}

<div class="text-center">
    <h1 class="display-4">Teste View</h1>
    <p class="lead">Aqui você pode administrar alunos, pais e atividades relacionadas a eles.</p>
</div>
